@charset "UTF-8";
@import "import";
@import "order_flow";

/* メイン */
.main{
  width:$basicMainWidth;
  margin:0 auto;

  @include mq(xl) {
      width:100%;
      padding:30px;
  }
}

.topText{
  margin-top:50px;
  padding-bottom:5px;
  font-size:1.8rem;
  font-weight: bold;
  border-bottom:1px solid #ddd;
}

/* アイテム一覧 */
.itemList{
  margin-top:30px;

  .delete{
    color:#134DA2;
    font-size:1.2rem;
  }

  .text{
    margin-bottom:10px;
  }

  section{
    padding:20px 0;
    border-bottom:1px solid #ddd;

    a:hover{
      opacity: 0.7
    }

    .left{
      width:150px;
      display: inline-block;
      vertical-align: top;

      img{
        width:100%;
      }
    }

    .right{
      width:630px;
      display: inline-block;
      vertical-align: top;
      padding-left:20px;

      h3{
        font-size:2.0rem;
        font-weight: bold;

        a{
          text-decoration: none;
          color:#333
        }
      }

      .text{
        font-size:1.3rem;
        margin-top:10px;
      }

      .price{
        color:#F50101;
        text-align: left;
        font-size:1.6rem;
        font-weight: bold;
        margin-bottom:10px;
      }

      .num{
        text-align: left;
        font-size:1.6rem;
        font-weight: bold;
        margin-bottom:10px;
      }
    }


    @include mq(xl) {
        .left{
          width:20%;
        }
        .center{
          width:60%;
        }
        .right{
          width:20%;
        }
    }

    @include mq(md) {
      .left{
        width:30%;
      }
      .center{
        width:70%;
      }
      .right{
        width:100%;
        display: block;
        margin-top:20px;
      }
    }
  }
}

/* 合計金額 */
.totalPrice{
  color:#F50101;
  text-align: right;
  font-size:1.6rem;
  font-weight: bold;
  margin-top:20px;
  margin-bottom:10px;
}

.inputBtn{
  display: block;
  color: #fff;
  text-align: center;
  background: #fb9841;
  border: none;
  border-radius: 3px;
  font-size: 1.4rem;
  margin:0 auto;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
}
