@charset "UTF-8";

header{
  nav{
    width:100%;
    line-height: 100px;
    background:url('/images/header.jpg');
    font-size:40px;
    text-align: center;
    color:#161616;

    a{
      color:#000;
      text-decoration: none;

    }
  }
}

/* メイン */
.main{
  width:720px;
  margin:0 auto;
}

/* カテゴリーから探す */
.category{
  text-align:center;
  margin-top:60px;

  h2{
    font-size:26px;
    text-align: left;
    margin-bottom:10px;
  }

  .categoryBtn{
    display: inline-block;
    width:200px;
    margin-right:60px;
    color:#000;
    background: #ded9d4;
    font-size:20px;
    text-decoration: none;
  }

  .categoryBtn:last-child{
    margin-right:0
  }

  .categoryBtn img{
    width:100%
  }

  .categoryBtn:hover{
    opacity: 0.7
  }
}

/* 新商品 */
.newItem{
  text-align:center;
  margin-top:100px;

  h2{
    font-size:26px;
    text-align: left;
    margin-bottom:10px;
  }

  .itemBtnBox{
    text-align: left;
  }

  .itemBtn{
    display: inline-block;
    width:150px;
    line-height:150px;
    margin-right:40px;
    margin-bottom:50px;
    font-weight: bold;
    color:#999999;
    background: #fefefe;
    font-size:20px;
    text-decoration: none;
    vertical-align: top;
    text-align: center;

    div:first-child{
      width:150px;
      height:150px;
      border:1px solid #ccc;
    }

    div:nth-child(2){
      margin-top:5px;
      font-size:12px;
      line-height: normal;
      text-align: left;
    }
  }

  .itemBtn:nth-child(4n){
    margin-right:0
  }

  .itemBtn:hover{
    opacity: 0.7
  }
}
