@charset "UTF-8";
@import "import";

/* メイン */
.main{
  width:$basicMainWidth;
  margin:0 auto;
  padding-bottom:100px;



  @include mq(xl) {
      width:100%;
      padding:30px;
  }
}

/* カテゴリーから探す */
.category{
  text-align:center;
  margin-top:60px;

  h2{
    font-size:2.6rem;
    text-align: left;
    margin-bottom:10px;
  }

  .categoryBtn{
    display: inline-block;
    width:200px;
    margin-right:60px;
    color:#000;
    background: #ded9d4;
    font-size:2.0rem;
    text-decoration: none;
  }

  .categoryBtn:last-child{
    margin-right:0
  }

  .categoryBtn img{
    width:100%
  }

  .categoryBtn:hover{
    opacity: 0.7
  }

  @include mq(md) {
      .categoryBtn{
        width:100%;
        margin:0;
        margin-bottom:20px;
      }
  }
}

/* 新着商品 */
.newItem{
  text-align:center;
  margin-top:100px;

  h2{
    font-size:2.6rem;
    text-align: left;
    margin-bottom:10px;
  }

  .itemBtnBox{
    text-align: left;
  }

  .itemBtn{
    display: inline-block;
    width:25%;
    padding:20px;
    font-weight: bold;
    color:#999999;
    background: #fefefe;
    font-size:2.0rem;
    text-decoration: none;
    vertical-align: top;
    text-align: center;

    img{
      width:100%;
    }

    div{
      margin-top:5px;
      font-size:1.2rem;
      line-height: normal;
      text-align: left;
    }

    a:hover,
    a:hover h3{
      opacity: 0.7
    }

    a{
      text-decoration: none;
    }

    h3{
      display: inline;
      color:#666;
    }
  }



  @include mq(xl) {
    .itemBtn{
      width:50%;
    }
  }
}
