@charset "UTF-8";

/* 進捗状況 */

.flow {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 70px;
  position: relative;
}

.flow:before {
  content: "";
  width: 75%;
  height: 4px;
  background: #bfbab0;
  position: absolute;
  top: 20px;
  left: 12.5%;
  margin: 0;
  border-radius: 2px;
  z-index: -1;
}

.flow li {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.flow li span:first-child {
  display: block;
  margin: 0 auto;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 100px;
  background: #7e7973;
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
}

.flow li span.text {
  display: block;
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #645D52;
}

.flow li.active span:first-child {
  background: #6faf77;
}

.flow li.active span.text {
  color: #6FAF77;
}

/* メイン */

.main {
  width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .main {
    width: 100%;
    padding: 30px;
  }
}

.topText {
  margin-top: 50px;
  padding-bottom: 5px;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

/* アイテム一覧 */

.itemList {
  margin-top: 30px;
}

.itemList .delete {
  color: #134DA2;
  font-size: 1.2rem;
}

.itemList .text {
  margin-bottom: 10px;
}

.itemList section {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.itemList section a:hover {
  opacity: 0.7;
}

.itemList section .left {
  width: 150px;
  display: inline-block;
  vertical-align: top;
}

.itemList section .left img {
  width: 100%;
}

.itemList section .right {
  width: 630px;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}

.itemList section .right h3 {
  font-size: 2rem;
  font-weight: bold;
}

.itemList section .right h3 a {
  text-decoration: none;
  color: #333;
}

.itemList section .right .text {
  font-size: 1.3rem;
  margin-top: 10px;
}

.itemList section .right .price {
  color: #F50101;
  text-align: left;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .itemList section .left {
    width: 20%;
  }

  .itemList section .center {
    width: 60%;
  }

  .itemList section .right {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  .itemList section .left {
    width: 30%;
  }

  .itemList section .center {
    width: 70%;
  }

  .itemList section .right {
    width: 100%;
    display: block;
    margin-top: 20px;
  }
}

/* 合計金額 */

.totalPrice {
  color: #F50101;
  text-align: right;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.inputBtn {
  display: block;
  color: #fff;
  text-align: center;
  background: #fb9841;
  border: none;
  border-radius: 3px;
  font-size: 1.4rem;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
}

