@charset "UTF-8";

header nav {
  width: 100%;
  line-height: 100px;
  background: url("/images/header.jpg");
  font-size: 40px;
  text-align: center;
  color: #161616;
}

header nav a {
  color: #000;
  text-decoration: none;
}

/* メイン */

.main {
  width: 1000px;
  margin: 0 auto;
}

/* アイテム一覧 */

.itemList {
  margin-top: 100px;
}

.itemList section {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.itemList section .left {
  width: 150px;
  display: inline-block;
  vertical-align: top;
}

.itemList section .left img {
  width: 100%;
}

.itemList section .center {
  width: 630px;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}

.itemList section .center h2 {
  font-size: 2rem;
  font-weight: bold;
}

.itemList section .center .text {
  font-size: 1.3rem;
  margin-top: 10px;
}

.itemList section .right {
  width: 220px;
  padding: 30px 10px;
  display: inline-block;
  vertical-align: top;
  background: #f8f4ef;
  border-radius: 3px;
}

.itemList section .right .price {
  color: #F50101;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.itemList section .right a {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  color: #fff;
  text-align: center;
  background: #de8639;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 10px;
  text-decoration: none;
}

