@charset "UTF-8";

/* メイン */

.main {
  width: 1000px;
  margin: 0 auto;
}

.main h1 {
  font-size: 2.4rem;
  margin-top: 30px;
}

@media screen and (max-width: 1000px) {
  .main {
    width: 100%;
    padding: 30px;
  }
}

/* アイテム一覧 */

.itemList {
  margin-top: 30px;
}

.itemList section {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.itemList section a:hover {
  opacity: 0.7;
}

.itemList section .left {
  width: 150px;
  display: inline-block;
  vertical-align: top;
}

.itemList section .left img {
  width: 100%;
}

.itemList section .center {
  width: 630px;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}

.itemList section .center h2 {
  font-size: 2rem;
  font-weight: bold;
}

.itemList section .center h2 a {
  text-decoration: none;
  color: #333;
}

.itemList section .center .text {
  font-size: 1.3rem;
  margin-top: 10px;
}

.itemList section .right {
  width: 220px;
  padding: 30px 10px;
  display: inline-block;
  vertical-align: top;
  background: #f8f4ef;
  border-radius: 3px;
}

.itemList section .right .price {
  color: #F50101;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.itemList section .right a {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  color: #fff;
  text-align: center;
  background: #fb9841;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 10px;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .itemList section .left {
    width: 20%;
  }

  .itemList section .center {
    width: 60%;
  }

  .itemList section .right {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  .itemList section .left {
    width: 30%;
  }

  .itemList section .center {
    width: 70%;
  }

  .itemList section .right {
    width: 100%;
    display: block;
    margin-top: 20px;
  }
}

