@charset "utf-8";

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color:#fff;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
    color:#333
}

/* 共通 */
.ibParent{
    letter-spacing: -0.4em;    
}

.disnon{
    display: none
}

.ibParent a,
.ibParent div{
    letter-spacing: normal
}
