@charset "UTF-8";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "\30E1\30A4\30EA\30AA", "Meiryo", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "Hiragino Kaku Gothic Pro", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", sans-serif;
  color: #333;
}

/* 共通 */

.ibParent {
  letter-spacing: -0.4em;
}

.disnon {
  display: none;
}

.ibParent a,
.ibParent div {
  letter-spacing: normal;
}

.h1Box {
  padding: 10px;
  font-size: 13px;
}

header nav {
  width: 100%;
  line-height: 100px;
  background: url("/images/header.jpg");
  font-size: 40px;
  text-align: center;
  color: #161616;
}

header nav a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header nav {
    font-size: 2.6rem;
  }
}

/* パンくず */

.breadCrumb {
  font-size: 1.2rem;
}

.breadCrumb a {
  color: #56b1d4;
  text-decoration: none;
}

