@charset "UTF-8";

html {
  background: #f5f6f8;
}

header {
  line-height: 60px;
  background: #334454;
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

/* レフトナビ */

#side {
  width: 20%;
  height: 100%;
  font-size: 1.8rem;
  background: #f8f8f8;
  position: fixed;
  top: 0;
  width: 200px;
  margin-top: 60px;
  text-align: center;
  border-right: solid 1px #DEDEDE;
}

#side ul li {
  line-height: 60px;
  border-bottom: solid 1px #DEDEDE;
}

#side ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
}

/* メイン */

.main {
  margin-left: 200px;
}

.main h1 {
  background: #fff;
  font-size: 1.8rem;
  padding: 10px;
  padding-left: 20px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

.main .container {
  padding: 20px;
}

.main .container .basic {
  background: #fff;
  border: 1px solid #CCCCCC;
  padding-bottom: 30px;
}

.main .container .basic h2 {
  border-bottom: 1px solid #CCCCCC;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 15px;
}

.main .container .basic table {
  width: 100%;
  margin-top: 20px;
  font-size: 1.6rem;
  text-align: left;
}

.main .container .basic table th,
.main .container .basic table td {
  padding: 10px 15px;
}

.main .container .basic table th input[type=text],
.main .container .basic table th select,
.main .container .basic table td input[type=text],
.main .container .basic table td select {
  height: 40px;
  font-size: 1.6rem;
  padding-left: 5px;
  border: 1px solid #999;
  border-radius: 3px;
}

.main .container .basic table th {
  width: 200px;
}

.main .container .basic table .address div {
  margin-bottom: 20px;
}

.main .container .basic table .address div:first-child input[type=text] {
  margin-left: 5px;
}

.main .container .basic table .address div:nth-child(n+3):nth-child(-n+4) input[type=text] {
  display: block;
  width: 100%;
}

.main .container .basic table .memo textarea {
  width: 100%;
  min-height: 100px;
  border: 1px solid #999;
  border-radius: 3px;
}

.main .container .orderItems {
  margin-top: 30px;
  background: #fff;
  border: 1px solid #CCCCCC;
  padding-bottom: 30px;
}

.main .container .orderItems h2 {
  border-bottom: 1px solid #CCCCCC;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 15px;
}

.main .container .orderItems .addBtnBox {
  padding: 20px;
}

.main .container .orderItems table {
  width: 100%;
  border-bottom: 1px solid #CCC;
}

.main .container .orderItems table td {
  padding: 20px;
  font-size: 1.6rem;
}

.main .container .orderItems table td input[type=text] {
  margin-right: 30px;
  margin-left: 10px;
  height: 40px;
  font-size: 1.6rem;
  padding-left: 5px;
  border: 1px solid #999;
  border-radius: 3px;
}

.main .container .orderItems table .allPrice {
  text-align: right;
}

.main .container .orderItems .bottom {
  font-size: 1.6rem;
  text-align: right;
  padding: 20px;
  padding-bottom: 0;
}

.main .container .orderItems .bottom .delivPrice {
  margin: 20px 0;
}

.main .container .orderItems .bottom .delivPrice input[type=text] {
  height: 40px;
  margin-left: 10px;
}

.main .container .updateBtn {
  width: 200px;
  display: block;
  background: #608bc4;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 30px;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 1.6rem;
  text-align: center;
}

