@charset "UTF-8";

html{
  background: #f5f6f8;
}

header{
  line-height: 60px;
  background: #334454;
  color:#fff;
  font-size:2.4rem;
  font-weight: bold;
  text-align: center;
}

/* レフトナビ */
#side{
  width:20%;
  height: 100%;
  font-size:1.8rem;
  background: #f8f8f8;
  position:fixed;
  top:0;
  width:200px;
  margin-top:60px;
  text-align: center;
  border-right:solid 1px #DEDEDE;

  ul{
    li{
        line-height: 60px;
        border-bottom:solid 1px #DEDEDE;

        a{
          display: block;
          width:100%;
          height:100%;
          color:#000;
          text-decoration: none;
        }
    }
  }
}

/* メイン */
.main{
  margin-left:200px;

  h1{
    background: #fff;
    font-size:1.8rem;
    padding:10px;
    padding-left:20px;
    font-weight: bold;
    border-bottom:1px solid #eee;
  }

  .container{
    padding:20px;

    .basic{
      background: #fff;
      border:1px solid #CCCCCC;
      padding-bottom:30px;

      h2{
        border-bottom:1px solid #CCCCCC;
        font-size:1.6rem;
        font-weight: bold;
        padding:10px 15px;
      }

      table{
        width:100%;
        margin-top:20px;
        font-size:1.6rem;
        text-align: left;

        th,td{
          padding:10px 15px;

          input[type="text"], select{
            height:40px;
            font-size:1.6rem;
            padding-left:5px;
            border:1px solid #999;
            border-radius: 3px;
          }
        }

        th{
          width:200px;
        }

        .address{
          div{
            margin-bottom:20px;
          }

          div:first-child{
            input[type="text"]{
              margin-left:5px;
            }
          }

          div:nth-child(n+3):nth-child(-n+4){
            input[type="text"]{
              display: block;
              width:100%;
            }
          }
        }

        .memo{
          textarea{
            width:100%;
            min-height: 100px;
            border:1px solid #999;
            border-radius: 3px;
          }
        }
      }
    }//basic

    .orderItems{
      margin-top:30px;
      background: #fff;
      border:1px solid #CCCCCC;
      padding-bottom:30px;

      h2{
        border-bottom:1px solid #CCCCCC;
        font-size:1.6rem;
        font-weight: bold;
        padding:10px 15px;
      }

      .addBtnBox{
        padding:20px;
      }

      table{
        width:100%;
        border-bottom:1px solid #CCC;

        td{
          padding:20px;
          font-size:1.6rem;

          input[type="text"]{
            margin-right:30px;
            margin-left:10px;
            height:40px;
            font-size:1.6rem;
            padding-left:5px;
            border:1px solid #999;
            border-radius: 3px;
          }
        }

        .allPrice{
          text-align: right;
        }
      }

      .bottom{
        font-size:1.6rem;
        text-align: right;
        padding: 20px;
        padding-bottom:0;

        .delivPrice{
          margin:20px 0;

          input[type="text"]{
            height:40px;
            margin-left:10px;
          }
        }
      }
    }

    .updateBtn{
      width:200px;
      display: block;
      background: #608bc4;
      line-height: 40px;
      margin: 0 auto;
      margin-top:30px;
      color: #fff;
      border: none;
      border-radius: 3px;
      font-size:1.6rem;
      text-align: center;
    }

  }//container
}//main
